{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="allauth bg-zinc-100 transition-all duration-1000">
    <div class="block max-w-3xl mx-auto my-4 md:my-12 px-3">
        <div class="card p-8 !pb-10">
            <h1>Sign In</h1>
            <p>
                If you have not created an account yet, then please
                <a href="{% url 'register' %}">sign up</a> first.
            </p>
            {% include "includes/alerts.html" %}
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <p>
                    <label class="form-label" for="form3Example1c">Email</label>
                    <input type="text" name="email" placeholder="Email" id="form3Example1c" class="form-control" required />
                </p>
                <p>
                    <label class="form-label" for="form3Example4c">Password</label>
                    <input name="password" type="password" id="form3Example4c" placeholder="Password" class="form-control" required />
                    <span class="helptext" id="id_password_helptext"><a href="/accounts/password/reset/">Forgot your password?</a></span>
                </p>
                <p>
                    <label for="id_remember">Remember Me:</label>
                    <input type="checkbox" name="remember" id="id_remember">
                </p>
                <button type="submit">Sign In</button>     
            </form>
        </div>
    </div>
</div>
{% endblock %}
